body {
	background: url(images/bg.png);
}

#border {
	width: 70%;
	margin: 0 auto;
	overflow: visible;
	display: table;
}

#logo {
	border: 1px solid #000000;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	padding: 5px;
	border-radius: 10px;
	background: url(images/logo2.png) #00A2E8;
	background-repeat: no-repeat;
	background-position:0 40px; 
	height: 150px;
	color: #FFF;
}

#topic  {
	height: 85px;
}

#login {
	float: right;
	height: 10px;
	margin-right: 15px;
}

a {
	color: #3366FF;
	text-decoration: none;
}

a:hover {
	color: #FF9933;
}

h1 {
	font-family: Arial;
	text-shadow: 2px 2px 1px #000;
}

h2 {
	border-bottom: 1px solid #000;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	background: #58A2ED;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #FFF;
	font-family: Arial;
}

h3 {
	margin-left: 5px;
}

h5 {
	font-family: Arial;
	font-size: 14px;
}

h5 a {
	color: #000066;
	text-decoration: none;
}

h5 a:hover {
	color: #FF9900;
}

#container {
	width: 100%;
	border-spacing: 5px;
	margin: 0;
	display: table;
}

#navigation {
	width: 103px;
	padding: 0px;
	display: table-cell;
	vertical-align: top;
	border: 1px solid #000000;
	border-radius: 10px;
	background: #FFF;
	font-family: Arial;
}

#navigation ul {
	margin-top: 0px;
	margin-bottom: 0px;
	list-style: none;
	padding: 0;
}

#navigation li {
	padding-left: 3px;
	background: #FFF;
	border-bottom: 1px solid #000;
	font-size: 15px;
	line-height: 30px;
	height: 30px;
}

#navigation li:hover {
	background: #bbb;
	color: #FFF;
}

#navigation li:hover a{
	padding-left: 10px;
}

#navigation li a {
	color: inherit;
	margin: 0px; 
	display: block; 
	height: 100%;
	text-decoration: none;
}

#content {
	margin-left: 5px;
	display: table-cell;
	border: 1px solid #000000;
	vertical-align: top;
	border-radius: 5px;
	background: #FFF;
	font-family: Arial;
}

#main {
	padding: 5px;
	min-height: 300px;
}

#content p {
	margin-top: 0px;
	margin-left: 5px;
}

#navigation ul li a:before {
	content: "\00BB \0020";
}

#main {
	margin-top: 5px;
}

#chat {
	padding: 0;
	margin: 0;
	border: 1px solid #000;
	overflow: visible;
	background: #eee;
}

#tabs {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #000;
}

.chatTab {
	padding: 0;
	margin: 0;
	background-color: #aaa;
}

.chatTabSelected {
	font-weight: bold;
}

#msgWindow {
	float: left;
	border-right: 1px solid #000;
	margin-right: -1px;
	padding: 0;
	width: 60%;
	min-height: 100px;
}

#userList {
	float: left;
	padding: 0;
	margin: 0;
	width: 40%;
	min-height: 100px;
}

#chatInput {
	clear: both;
	border-top: 1px solid #000;
}

#footer {
	border-top: 1px solid #000;
	text-align: center;
}