<h2><%= messages.navigation %></h2>
<ul>
	<li><a href="index" class="inner_link"><%= messages.index %></a></li>
	<li><a href="editor" class="inner_link"><%= messages.editor %></a></li>
	<li><a href="game" class="inner_link"><%= messages.game %></a></li>
</ul>