<h3><%= messages.register %></h3>
<form>
	<p><b><%= messages.username %>:</b><br />
	<input type="text" name="uname"><br />
	<b><%= messages.password %>:</b><br />
	<input type="text" name="pword"><br /><br />
	<input type="submit" value="<%= messages.login %>">
</form>